<% if false %>
  <% if current_user %>
    <h2><%= current_user.email %></h2>
    <%= link_to 'Edit account', edit_user_registration_path %>
    <%= button_to 'Logout', destroy_user_session_path, data: { turbo: false }, method: :delete %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Create Account', new_user_registration_path %>
  <% end %>
<% end %>

<div data-controller="nav" class="flex justify-between">
  <h1 class="font-bold text-4xl mb-4">Easy List</h1>
  <%#= image_tag current_user.avatar_url, class: 'p-0.5 w-10 h-10 rounded-full ring-1 ring-gray-300 dark:ring-gray-500' %>
  <div class="relative">
    <%= render 'shared/avatar_small' %>
    <div class="absolute right-0 hidden bg-white border mt-2 p-3 whitespace-nowrap" data-nav-target="menu">
      <ul>
        <%= link_to 'Edit account', edit_user_registration_path %>
        <%= button_to 'Logout', destroy_user_session_path, data: { turbo: false }, method: :delete %>
      </ul>
    </div>
  </div>
</div>

<section class="mb-3">
  <h2>My lists</h2>
  <%= turbo_frame_tag "lists", src: lists_path, loading: 'lazy', target: '_top' do %>
    <i class="fas fa-spinner fa-spin fa-2xl"></i>
    <span>Loading lists...</span>
  <% end %>
</section>

<section>
  <h2>My notes</h2>
  <%= turbo_frame_tag "notes", src: notes_path, loading: 'lazy', target: '_top' do %>
    <i class="fas fa-spinner fa-spin fa-2xl"></i>
    <span>Loading lists...</span>
  <% end %>
</section>