<%= form_with model: [list, item], id: "item_form", data: {action: "click@window->item#hideFormIfOutsideClick"} do |f| %>
  <div class="flex">
    <%= f.hidden_field :list_id, value: list.id %> 
    <%= f.text_field :name, class: "rounded-lg border-1 border-blue-700 #{'border-red-500 bg-red-100' if f.object.errors[:name].present?}" %>
    <%= f.submit "Add item", class: 'rounded-lg bg-blue-700 hover:bg-blue-800 font-semibold text-white cursor-pointer	px-3' %>
  </div>
  <p class="mt-2 text-sm text-red-600">
    <%= f.object.errors.full_messages_for(:name).first %>
  </p>
<% end %>