<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>EasyList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full	<%= @home ? 'bg-cyan-800' : 'bg-gray-100' %>">
    <%= render 'shared/flash' %>
  
    <main class="container mx-auto p-4 duration-150 transition">
      <div data-controller="nav" class="flex justify-between">
        <h1 class="font-bold text-4xl mb-4">Easy List</h1>
        <%#= image_tag current_user.avatar_url, class: 'p-0.5 w-10 h-10 rounded-full ring-1 ring-gray-300 dark:ring-gray-500' %>
        <div class="relative">
          <%= render 'shared/avatar_small' %>
          <div class="absolute right-0 hidden bg-white border mt-2 p-3 whitespace-nowrap" data-nav-target="menu">
            <ul>
              <%= link_to 'Edit account', edit_user_registration_path %>
              <%= button_to 'Logout', destroy_user_session_path, data: { turbo: false }, method: :delete %>
            </ul>
          </div>
        </div>
      </div>

      <%= yield %>
    </main>

    <%= render 'shared/fab' unless @home %>
  </body>
</html>